.navbar {
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #add8e6; /* Light blue background */
    color: white;
    border-radius: 5px;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: #87ceeb; /* Slightly darker blue on hover */
}